UserIntrfaceCalc/UserIntrfaceCalc/Connected Services/ServiceRef/CalcService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Addition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AdditionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Subtraction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubtractionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubtractionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Multiplication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplicationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MultiplicationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Divison">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DivisonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DivisonResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AdditionSoapIn">
    <wsdl:part name="parameters" element="tns:Addition" />
  </wsdl:message>
  <wsdl:message name="AdditionSoapOut">
    <wsdl:part name="parameters" element="tns:AdditionResponse" />
  </wsdl:message>
  <wsdl:message name="SubtractionSoapIn">
    <wsdl:part name="parameters" element="tns:Subtraction" />
  </wsdl:message>
  <wsdl:message name="SubtractionSoapOut">
    <wsdl:part name="parameters" element="tns:SubtractionResponse" />
  </wsdl:message>
  <wsdl:message name="MultiplicationSoapIn">
    <wsdl:part name="parameters" element="tns:Multiplication" />
  </wsdl:message>
  <wsdl:message name="MultiplicationSoapOut">
    <wsdl:part name="parameters" element="tns:MultiplicationResponse" />
  </wsdl:message>
  <wsdl:message name="DivisonSoapIn">
    <wsdl:part name="parameters" element="tns:Divison" />
  </wsdl:message>
  <wsdl:message name="DivisonSoapOut">
    <wsdl:part name="parameters" element="tns:DivisonResponse" />
  </wsdl:message>
  <wsdl:portType name="CalcServiceSoap">
    <wsdl:operation name="Addition">
      <wsdl:input message="tns:AdditionSoapIn" />
      <wsdl:output message="tns:AdditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Subtraction">
      <wsdl:input message="tns:SubtractionSoapIn" />
      <wsdl:output message="tns:SubtractionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Multiplication">
      <wsdl:input message="tns:MultiplicationSoapIn" />
      <wsdl:output message="tns:MultiplicationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Divison">
      <wsdl:input message="tns:DivisonSoapIn" />
      <wsdl:output message="tns:DivisonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalcServiceSoap" type="tns:CalcServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Addition">
      <soap:operation soapAction="http://tempuri.org/Addition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtraction">
      <soap:operation soapAction="http://tempuri.org/Subtraction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplication">
      <soap:operation soapAction="http://tempuri.org/Multiplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divison">
      <soap:operation soapAction="http://tempuri.org/Divison" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalcServiceSoap12" type="tns:CalcServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Addition">
      <soap12:operation soapAction="http://tempuri.org/Addition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtraction">
      <soap12:operation soapAction="http://tempuri.org/Subtraction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplication">
      <soap12:operation soapAction="http://tempuri.org/Multiplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divison">
      <soap12:operation soapAction="http://tempuri.org/Divison" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalcService">
    <wsdl:port name="CalcServiceSoap" binding="tns:CalcServiceSoap">
      <soap:address location="https://localhost:44399/CalcService.asmx" />
    </wsdl:port>
    <wsdl:port name="CalcServiceSoap12" binding="tns:CalcServiceSoap12">
      <soap12:address location="https://localhost:44399/CalcService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>